.container {
   width: 300px;
}
.container div div {
  margin-top: 15px;
}
#protected-information {
  display: block;
  background-color: rgb(8, 47, 73);
  padding: 16px 25px 11px 20px;
  border-radius: 8px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#protected-information svg {
  color: #bae6fd;
  margin-right: 10px;
  margin-bottom: 5px;
}
#protected-information i {
  color: #bae6fd;
}
#protected-information span {
  color: #7dd3df;
}
