.generate-url-container {
  display: block;
  width: 200px;
  height: 200px;
  /* border: 1px;
  border-style: solid;
  border-color: red; */
  margin: auto;
  width: 50%;
  padding: 3% 3%;
}
.url-control {
  background-color: #1e293b;
  color: white;
  height: 52px;
  min-width: 120px;
  margin-right: 3%;
  border: 2px solid;
  border-color: #494848;
}
.url-control::placeholder {
  color: rgba(232, 229, 229, 0.595);
}
.confirm-short-btn {
  border-radius: 10px;
  width: 144px;
  height: 52px;
  border: none;
  background-color: #0f172a;
  font-weight: bold;
  color: #334155;
}
.url-control:focus,.url-control:hover {
    box-shadow: none;
    border-color: #2f7397;
}
.confirm-short-btn:enabled {
    background-color: #067cbc;
    color:white;
}
