.generate-url-container {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  width: 45%;
  padding: 3% 3%;
}
.url-control {
  background-color: #1e293b;
  color: white;
  height: 52px;
  min-width: 120px;
  margin-right: 3%;
  border: 2px solid;
  border-color: #494848;
}
.url-control::placeholder {
  color: rgba(232, 229, 229, 0.595);
}
.confirm-short-btn {
  border-radius: 10px;
  width: 144px;
  height: 52px;
  border: none;
  background-color: #0f172a;
  font-weight: bold;
  color: #334155;
}
.confirm-short-btn:hover {
  opacity: 0.9;
}
.confirm-short-btn:enabled {
    background-color: #1194db;
    color:white;
}
.url-control:focus,.url-control:hover {
  box-shadow: none;
  border-color: #2f7397;
}

#settings-lbl {
  color: #94a3b8;
  cursor: pointer;
}
#settings-lbl:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label {
  color:#94a3b8;
  flex: 1;
}

.input {
  background-color: transparent;
  border: 1px solid #494848;
  padding:8px 8px 8px 12px;
  color: white;
  margin-top: 15px;
  background-color: #1e293b;
  outline: none;
  border-radius: 5px;
}
.input:focus,input:hover {
  box-shadow: none;
  border-color: #2f7397;
}
.input::placeholder {
  color:#94a3b8;
}
hr {
  background-color: #253a6e;
  margin-top: 5%;
  height: 3px;
}
#preview-url {
    color:rgb(56,189,248);
    font-weight: bold;
}